{% extends "rezerwacje/base.html" %}
{% block content %}

<legend class="border-bottom mb-4"><h1>Nasza kadra</h1></legend>
<div class="row">
{% for post in lekarze %}
<div class="col-12 col-sm-12 col-lg-6 col-xl-4" >
    <div class="col" id="sectionl">
        <div class="row">
<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
<img id="lek" src="{{ post.image.url }}">
</div>
<div class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5" style="margin-left: 1rem;">
<h3 style="margin-top: 1.5rem;">{{ post.get_tytul_display}} {{ post.imie }} {{ post.nazwisko }}</h3>
<p class="text-secondary" style="margin-bottom: -5px;"> {{ post.get_specjalizacja_display }}</p>


</div>
   </div>
   <div class="row" style="margin-top: 20px;">
   <div class="col">
    <table class="table table-bordered table-striped table-hover">
        <tr id="tbl">
          <th><strong><span class="material-symbols-outlined">mail
        </span></strong></th>
          <td>{{ post.email }}</td>
       </tr>
       <tr id="tbl">
        <th><strong><span class="material-symbols-outlined">
            call
            </span></strong></th>
        <td>{{ post.telefon }}</td>
     </tr>
       </table>
</div>
<div class="col" style="text-align:center ;">
    {% if not user.is_doctor %} 
    <a href="{% url 'rezerwacje-rezerwuj' post.id %}"><button id="btn" style=" margin-bottom: 1rem;">Umów wizytę</button></a>
    {% endif %}
</div>
    
</div>

    
</div>
</div>
{% endfor %}
</div>
<div style="margin-bottom: 3rem;"></div>
{% endblock content %}