{% extends "rezerwacje/base.html" %}
{% block content %}



<div>
<table class="table table-bordered table-striped table-hover" style="margin-bottom: 3rem;">
  <tr id="tbl">
    <td><strong></strong></td>
    <td><strong>Lekarz</strong></td>
    <td><strong>Specjalizacja</strong></td>
  <td><strong>Telefon</strong></td>
  <td><strong>Email</strong></td>
  <td></td>
 </tr>

 {% for post in Lekarze %}
   <tr id="tbl">
    <td style="text-align: center;"><img style="height: 60px; width: 60px; text-align: center;" src="{{ post.image.url }}"></td>
   <td>{{ post.get_tytul_display }}  {{ post.imie }} {{ post.nazwisko}}</td>
   <td>{{ post.get_specjalizacja_display }}</td>
   <td>{{ post.telefon }}</td>
   <td>{{ post.email }}</td>
   <td><a href="{% url 'rezerwacje-rezerwuj' post.id %}"><button id="btn2">Umów wizytę</button></a></td>
</tr>
   {% endfor %}

 </table>

 </div> 

{% endblock content %}