{% extends "rezerwacje/base.html" %}
{% load static %}

{% block content %}

{% if Kontakt %}
<legend class="border-bottom mb-4"><h1>Wiadomości użytkowników</h1></legend>
<div class="table-responsive">
<table class="table table-bordered table-striped table-hover" style="margin-bottom: 3rem;">
  <tr id="tbl">
    <td><strong>Data wysłania</strong></td>
    <td><strong>Adres email</strong></td>
    <td><strong>Imię i nazwisko</strong></td>
  <td><strong>Telefon</strong></td>
  <td></td>
  <td></td>

 </tr>

 {% for post in Kontakt %}
   <tr id="tbl">
    <td>{{ post.submit_date }}</td>
   <td>{{ post.email }}</td>
   <td>{{ post.imieinazwisko }}</td>
   <td>{{ post.telefon }}</td>
  <td>

<button type="button" id="btn2" data-bs-toggle="modal" data-bs-target="#tst{{post.id}}">
  Sprawdź
</button>

<div class="modal fade" id="tst{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="exampleModalLabel">{{ post.tytul }}</h5>
      </div>
      <div class="modal-body">
        {{ post.wiadomosc }}
      </div>
      <div class="modal-footer">
        <button type="button" id="btn2" data-bs-dismiss="modal">Zamknij</button>
    
      </div>
    </div>
  </div>
</div>
  </td>
   <td>
    
    <button type="button" id="btn2" data-bs-toggle="modal" data-bs-target="#dlt{{post.id}}">
      Usuń
    </button>
    
    <div class="modal fade" id="dlt{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <div class="modal-body">
            Czy na pewno usunąć wiadomość:<br>
            {{ post.submit_date }}<br>
            {{ post.email}} {{ post.imieinazwisko }}
              </div>
            <div class="modal-footer justify-content-between">
              <button type="button" id="btn2" data-bs-dismiss="modal">Anuluj</button>
            <form action="{% url 'usun_wiadomosc' pk=post.id %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="id" id="post_id"/>
              <button type="submit" id="btn2">Usuń</button>
            </form>
          
          </div>
        </div>
      </div>
    </div>
    
   </td>
</tr>
   {% endfor %}


 </table>

 {% if p_obj.paginator.num_pages > 1 %}
      {% if p_obj.has_previous %}
        <a  href="?page=1"><button id="btnpg"><<</button></a>
        <a  href="?page={{ p_obj.previous_page_number }}"><button id="btnpg"><</button></a>
      {% endif %}

      {% for num in p_obj.paginator.page_range %}
        {% if p_obj.number == num %}
          <a href="?page={{ num }}"><button id="btnactv">{{num}}</button></a>
        {% elif num > p_obj.number|add:'-3' and num < p_obj.number|add:'3' %}
          <a href="?page={{ num }}"><button id="btnpg">{{num}}</button></a>
        {% endif %}
      {% endfor %}

      {% if p_obj.has_next %}
        <a  href="?page={{ p_obj.next_page_number }}"><button id="btnpg">></button></a>
        <a  href="?page={{ p_obj.paginator.num_pages }}"><button id="btnpg">>></button></a>
      {% endif %}
  {% endif %}
   
 {% else %}
<h1 style="text-align: center; background-color: #3b8686; color: white; padding: 15px;">Brak wiadomości</h1>
 {% endif %}
 </div> 


{% endblock content %}