{% extends "rezerwacje/base.html" %}
{% load crispy_forms_tags %}
{% load rezerwacje_extras %}
{% block content %}

{% if Rezerwacje %}
<legend class="border-bottom mb-4"><h1>Rezerwacje</h1></legend>
<div class="row">
<div class="col-12 col-xl-3">
  <div id="section" class="col">
    
    <form method="get">
      {{Rezerwacje.form|crispy}}
  
  <button id="btn" type="submit" style="margin-top: 1rem;">Szukaj</button>
    </form>
    <a href="{%  url 'rezerwacje-rezerwacje' %}"><button id="btn" type="submit" style="margin-top: 1rem;">Reset</button></a>
    
  
  </div>
  </div>
  <div class="col">
<div class="table-responsive">
<table class="table table-bordered table-striped table-hover">
  <tr id="tbl">
    <td><strong>Lekarz</strong></td>
  <td><strong>Data</strong></td>
  <td><strong>Godzina</strong></td>
  <td><strong>Pacjent</strong></td>
  <td><strong>Status</strong></td>
  <td></td>
 </tr>

 {% for post in p_obj %}

   <tr id="tbl">
   <td>{{ post.lekarz }}</td>
   <td>{{ post.data }}</td>
   <td>{{ post.get_godzina_display }}</td>
   <td>{{ post.pacjent }}</td>
   <td>{% if post.wtoku %}
    W toku
    {% else %}
    Zakończono
    {% endif %}</td>
    <td>{% if post.wtoku %}
      <button type="button" id="btn2" data-bs-toggle="modal" data-bs-target="#dlt{{post.id}}">
        Anuluj
      </button>
      
      <div class="modal fade" id="dlt{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <div class="modal-body">
              Czy na pewno anulować rezerwację:<br>
              {{ post.data }} {{ post.get_godzina_display }}<br>
              {{ post.lekarz }}<br>
              {{ post.pacjent }} 
                </div>
              <div class="modal-footer justify-content-between">
                <button type="button" id="btn2" data-bs-dismiss="modal">Nie</button>
              <form action="{% url 'usun_wizyty' pk=post.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" id="post_id"/>
                <button type="submit" id="btn2">Tak</button>
              </form>
            
            </div>
          </div>
        </div>
      </div>
      {% endif %}
     </td>
</tr>
   {% endfor %}

 </table>
</div>
{% if p_obj.paginator.num_pages > 1 %}
      {% if p_obj.has_previous %}
        <a  href="{% my_url 1 'page' request.GET.urlencode %}"><button id="btnpg"><<</button></a>
        <a  href="{% my_url p_obj.previous_page_number 'page' request.GET.urlencode %}"><button id="btnpg"><</button></a>
      {% endif %}

      {% for num in p_obj.paginator.page_range %}
        {% if p_obj.number == num %}
          <a  href="{% my_url num 'page' request.GET.urlencode %}"><button id="btnactv">{{ num }}</button></a>
        {% elif num > p_obj.number|add:'-3' and num < p_obj.number|add:'3' %}
          <a  href="{% my_url num 'page' request.GET.urlencode %}"><button id="btnpg">{{ num }}</button></a>
        {% endif %}
      {% endfor %}

      {% if p_obj.has_next %}
        <a  href="{% my_url  p_obj.next_page_number 'page' request.GET.urlencode %}"><button id="btnpg">></button></a>
        <a  href="{% my_url p_obj.paginator.num_pages 'page' request.GET.urlencode %}"><button id="btnpg">>></button></a>
      {% endif %}

  {% endif %}
</div>
 </div>
 {% else %}
<h1 style="text-align: center; background-color: #336b6d; color: white; padding: 15px;">Brak rezerwacji</h1>
<div class="col">
  <div id="section" class="col">
    <form method="get">
      {{rezerw_filter|crispy}}
  
  <button id="btn" type="submit" style="margin-top: 1rem;">Szukaj</button>
  <a class="btn btn-warning" href="{% url 'App:FilterView' %}"><button id="btn">Reset</button></a>
  
    </form>
    <a href="{%  url 'rezerwacje-rezerwacje' %}"><button id="btn" type="submit" style="margin-top: 1rem;">Reset</button></a>
  </div>
  </div>
 {% endif %}

 <div style="margin-bottom: 3rem;"></div>
{% endblock content %}