{% extends "rezerwacje/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container" id="section">
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-5 col-sm-5 col-md-5 col-lg-3 col-xl-2">
        <img  style="width: 150px; height: 150px;" src="{{ user.lekarze.image.url }}">
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-4" style="margin-top: 2rem;">
            <h2>{{ user.lekarze.get_tytul_display }} {{ user.imie }}
                {{ user.nazwisko }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <table class="table table-bordered table-striped table-hover">
                <tr id="tbl">
                  <th><strong>Specjalizacja</strong></th>
                  <td>{{ user.lekarze.get_specjalizacja_display }}</td>
               </tr>
               <tr id="tbl">
                <th><strong>Nr telefonu</strong></th>
                <td>{{ user.telefon }}</td>
             </tr>
               </table>
        
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6" style="margin-top: 2rem;">
            <form method="POST" enctype="multipart/form-data">  
                {% csrf_token %}
                  <fieldset class="form-group">
                    <div id="zal">
                        <div id="tyt" style="margin-bottom: 3rem;"><h2 id="had"><span id="spad">Zmień dane</span></h2></div> 
                        </div>
                    <div class="form-group">
                        {{ p_form|crispy }}
                      </div>
            
                  </fieldset>
                  <div class="form-group">
                    <button type="submit" id="btn2" style="width: 100%;">Zmień</button>
        </div>


    </div>
</div>
</div>

{% endblock content %}