{% extends "rezerwacje/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" id="section">
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-5 col-sm-5 col-md-5 col-lg-3 col-xl-2">
        <img  id="actimg" src="{{ user.pacjenci.image.url }}">
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-4" style="margin-top: 2rem;">
            <h2>{{ user.imie }}
                {{ user.nazwisko }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <table class="table table-bordered table-striped table-hover">
                <tr id="tbl">
                  <th><strong>PESEL</strong></th>
                  <td>{{ user.pacjenci.PESEL }}</td>
               </tr>
               <tr id="tbl">
                <th><strong>Nr telefonu</strong></th>
                <td>{{ user.telefon }}</td>
             </tr>
             <tr id="tbl">
                <th><strong>Adres</strong></th>
                <td>ul. {{ user.pacjenci.ulica }} {{ user.pacjenci.numer_domu }}
                    {% if user.pacjenci.numer_lokalu %}
                    m. {{ user.pacjenci.numer_lokalu }}
                    {% endif %}</p>
                    <p>{{ user.pacjenci.kod_pocztowy }} {{ user.pacjenci.miejscowosc }}</td>
             </tr>
               </table>
       <a href="{% url 'change_password' %}"><button id="btn" style="width: 100%;">Zmień hasło</button></a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6" style="margin-top: 2rem;">
            <form method="POST" enctype="multipart/form-data">  
                {% csrf_token %}
                  <fieldset class="form-group">
                    <div id="zal">
                        <legend class="border-bottom mb-4"><h1>Zmień dane</h1></legend>
                        </div>
                    <div class="form-group">
                        {% crispy u_form %}
                      </div>
            
                  </fieldset>
                  <div class="form-group">
                    <button type="submit" id="btn2" style="width: 100%;">Zmień</button>
        </div>


    </div>
</div>
</div>

{% endblock content %}