{% extends "rezerwacje/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section" id="section" style="margin-bottom: 11.1rem;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Resetuj hasło</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button id="btn" type="submit">Wyślij</button>
            </div>
        </form>
    </div>
{% endblock content %}